<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/staff.css">
</head>

<section>  
    <br><br><br><br><br>
        <div class="container-fluid">
            <div class="text-center">
                <div class="error mx-auto" data-text="500">500</div>
                <p class="lead text-gray-800 mb-5">Page Not Found</p>
                <p class="text-gray-500 mb-0">Xảy ra lỗi...</p>
                <a href="/staff">&larr; Quay lại trang chủ</a>
            </div>
        </div> 
</section>

<script src="/js/staff.js"></script>
<%- include('./includes/end.ejs') %>