<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/staff.css">
</head>
<%- include('./includes/navigation.ejs') %>

<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Mr. 
            <span class="text-primary"> <%= user.name %></span>
        </h1>
        <br>
            
        
    </div>
</section>

<script src="/js/staff.js"></script>
<%- include('./includes/end.ejs') %>