extends layouts/main-layout.pug

block content 
    main
        if prods.length > 0
           .productHold 
                    each product in prods
                        div.card 
                            h1.cardTitle #{product.title}
                            img(src="https://images.unsplash.com/photo-1542291026-7eec264c27ff?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c2hvZXN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60", alt="Nike")
                            div.cardText
                                p.categoryText men's sport shoes 
                                h2.brandText Nike 
                                p.priceText $250     
        else 
            h1 No Products

            