<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/staff.css">
</head>
<%- include('./includes/navigation.ejs') %>

<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Mr. 
            <span class="text-primary"> Ken</span>
        </h1>
        <br>
        <p>Online    <i class="bi bi-circle-fill text-success"></i></p>
        <br>
        <p class="lead">Bắt đầu làm việc tại công ty vào lúc </p>

        <a class="btn btn-primary btn-xl" href="/staff-end">KẾT THÚC</a>
      
        
    </div>
</section>

<script src="/js/staff.js"></script>
<%- include('./includes/end.ejs') %>