<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/staff.css">
</head>
<%- include('./includes/navigation.ejs') %>

<h1>ok</h1>

<script src="/js/staff.js"></script>
<%- include('./includes/end.ejs') %>