<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/staff.css">
</head>
<%- include('./includes/navigation.ejs') %>

<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Mr. 
            <span class="text-primary"> Ken</span>
        </h1>
        <br>
            <h4 class="mb-3">Hãy lựa chọn nơi làm việc</h4>
            <form action="/staff-rollcall" method="POST">
            <div class="my-3">
              <div class="form-check">
                <input id="company" name="company" type="radio" class="form-check-input" checked required>
                <label class="form-check-label" for="company">Công ty</label>
              </div>
              <div class="form-check">
                <input id="home" name="home" type="radio" class="form-check-input" required>
                <label class="form-check-label" for="home">Nhà</label>
              </div>
              <div class="form-check">
                <input id="custome" name="custome" type="radio" class="form-check-input" required>
                <label class="form-check-label" for="custome">Khách hàng</label>
              </div>
            </div>
          <br>
        <div class="subheading mb-5">
           Nếu đã sẵn sáng làm việc xin hãy
                <input type="hidden" value="" name="staff-rollcall">
                <button class="btn btn-primary btn-xl" type="submit">ĐIỂM DANH</button>
           
        </div>
    </form>
        <hr>
        <div class="subheading mb-5">
            <form action="/staff-leave" method="POST">Nếu bạn bận hãy chọn
                <input type="hidden" value="" name="staff-leave">
                <button class="btn btn-primary btn-xl" type="submit">NGHỈ PHÉP</button>
            </form>
        </div>
        
    </div>
</section>

<script src="/js/staff.js"></script>
<%- include('./includes/end.ejs') %>