.sendleave {
    margin-top: 31px;
}

.textbold {
    font-weight: bold;
}
.success-msg {
    color: #270;
    background-color: #DFF2BF;
  }

  .error-msg {
    color: #D8000C;
    background-color: #FFBABA;
  }

.success-msg,
.error-msg {
  margin: 15px 0 0 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}

.textcovid{
  margin-top: 15px !important;
}