body {
    padding: 0;
    margin: 0;
    font-family: cursive;
}
.main-header{
    width: 100%;
    height: 3.5rem;
    background-color: rgb(88, 68, 41);
    padding: 0 1.5rem;
}
.main-header_nav{
    height: 100%;
    display: flex;
    align-items: center;
}
.main-header_item-list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.main-header_item{
    margin: 0 1rem;
    padding: 0;
}
.main-header_item a{
    text-decoration:  none;
    color: azure;
}
 .main-header_item a:hover{
    text-decoration:  none;
    color: azure;
}
.card{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    min-height: 200px;
    max-width: 300px;
    text-align: center;
    min-height: 370px;
    border-radius: 1rem;
    margin: 1.5rem;
    transition: 0.3s;
    border: #8442f5 solid 1px;
}

.cardText {
    margin: 0.5rem;
    font-weight: 400;
    opacity: 0.7;
}
.brandText{
    color: #4287F5;
}

.priceText{
    font-size: large;
}
.cardTitle{
    margin: 0.5rem;
    font-weight: bold;
}




